@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1000px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 10px;

////////////////////
// フォント設定
////////////////////

$base-font: "Noto Sans JP", sans-serif;
$second-font: "";
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #221815;
$white: #fff;
$beige: #f8f5f0;
$gray: #707070;
$gray2: #656565;
$brown: #877879;
$green: #4ebf2c;
$limegreen: #a0d232;
$ornage1: #f4bd29;
$ornage2: #ffa546;
$pink1: #f9a9cb;
$pink2: #fc77b0;

body {
  font-family: $base-font;
}
