@use "global" as *;

.category-lists {
  display: grid;
  gap: rem(30);
}

.category-lists__term {
  display: flex;
  align-items: center;
}

.category-lists__icon {
  width: rem(37);
  display: flex;
  justify-content: center;
  @include mq("md") {
    width: rem(35);
  }
}

.category-lists__icon img {
  width: auto;
  height: auto;
  object-fit: contain;
}

.category-lists__term-title {
  font-size: rem(18);
  font-weight: $medium;
  line-height: 1;
  color: $green;
  @include mq("md") {
  }
}

.category-lists__items {
  margin-top: rem(10);
  display: grid;
  gap: rem(10);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    row-gap: rem(10);
  }
}

.category-lists__term--gap {
  @extend .category-lists__term;
  gap: rem(8);
}

.category-lists--delta {
  @extend .category-lists;
}

.category-lists--delta .category-lists__items {
  @include mq("md") {
    column-gap: rem(10);
  }
}
