@use "global" as *;

.info-item {
  display: flex;
  align-items: center;
  padding: rem(13) rem(14) rem(13) rem(16);
  gap: rem(8);
  background-color: $white;
  border: 2px solid $limegreen;
  border-radius: rem(10);
  @include mq("md") {
    padding: rem(17) rem(10) rem(17) rem(16);
    gap: rem(12);
  }
}

.info-item__icon {
  width: rem(42);
  height: auto;
  display: grid;
  justify-content: center;
}

.info-item__icon img {
  width: auto;
  height: auto;
  object-fit: contain;
}

.info-item__title {
  font-size: rem(16);
  font-weight: $medium;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq("md") {
    font-size: rem(18);
    line-height: calc(22 / 18);
  }
}

.info-item__title::after {
  content: "";
  display: inline-block;
  top: 1px;
  width: rem(10);
  height: rem(15);
  background-image: url("../img/arrow-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.info-item--noicon {
  @extend .info-item;
  padding: rem(16) rem(14) rem(16) rem(12);
  @include mq("md") {
    padding: rem(21) rem(12);
  }
}

.info-item--noicon .info-item__title {
  position: relative;
  padding-right: rem(17);
  @include mq("md") {
    font-size: rem(16);
  }
}

.info-item--noicon .info-item__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
