@use "global" as *;

.sub-info {
  background-color: $beige;
}

.sub-info__inner.inner {
  display: contents;
  @include mq("md") {
    display: block;
  }
}

.sub-info__contents {
  padding-bottom: rem(80);
  background-color: $beige;
  @include mq("md") {
    display: flex;
    gap: rem(30);
  }
}

.sub-info__wrapper {
  @include mq("md") {
    flex: 1;
  }
}

.sub-info__content.inner {
  @include mq("md") {
    display: contents;
  }
}

.sub-info__head {
  padding-left: calc(10 / 375 * 100%);
  display: flex;
  align-items: center;
  height: rem(100);
  background-color: $white;
  position: relative;
  @include mq("md") {
    padding-left: rem(38);
    border-radius: rem(15);
    height: rem(156);
  }
}

.sub-info__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(22 / 16);
  flex: 1;
  position: relative;
  z-index: 1;
  @include mq("md") {
    font-size: rem(22);
    line-height: calc(30 / 22);
  }
}

.sub-info__head-img {
  width: calc(156 / 375 * 100%);
  margin-left: auto;
  height: inherit;
  position: absolute;
  right: 0;
  @include mq("md") {
    width: calc(336 / 740 * 100%);
  }
}

.sub-info__head-img img {
  aspect-ratio: 312/200;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 336/156;
  }
}

.sub-info__body {
  margin-top: rem(40);
}

.sub-info__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(10);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    row-gap: rem(15);
  }
}

.sub-info__sidebar {
  margin-top: rem(40);
  padding: 0 rem(10);
  @include mq("md") {
    width: calc(230 / 1000 * 100%);
    margin-top: 0;
    padding: 0;
  }
}

.sub-info__buttons {
  margin-top: rem(20);
  display: grid;
  justify-content: center;
}

.sub-info__button:not(:first-child) {
  margin-top: rem(10);
}
